@model loganta.Areas.CUS01.Models.EvaluarCuadroDeNecesidades
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "EvaluarCuadroDeNecesidades";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Evaluar Cuadro de Necesidades</h3>


<div class="row">
    <div class="col-md-4">
        <form asp-action="EvaluarCuadroDeNecesidades">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <select asp-for="AreaUsuariaId" class="form-control" asp-items="ViewBag.AreasUsuarias" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Visualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requerimiento.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requerimiento.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requerimiento.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requerimiento.Precio)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requerimientos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        <form asp-action="SeleccionarPrioridad">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Selecciona Prioridad:</label>
                <select  class="form-control">
                    <option>BAJA</option>
                    <option>MEDIA</option>
                    <option>ALTA</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Evaluar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>